body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    text-align: center;
}

h1{
    margin: 20px 0;
}

#contaier {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background:white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}