body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    text-align: center;
}

h1{
    margin: 20px 0;
}

#contaier {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background:white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 6px;
    background: #eee;
    border-radius: 6px;
}

li button {
    background: transparent;
    border: none;
    cursor: pointer;
}

li span {
    cursor: pointer;
}

li span:hover {
    color: #2f80ed;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

button {
    padding: 8px 14px;
    margin-top: 10px;
    cursor: pointer;
}